<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :first_name, label: "Prénom" %>
  <%= f.input :last_name, label: "Nom" %>
  <%= f.input :email, label: "Email" %>
  <%= f.submit "Enregistrer", class: "btn-primary-bubo" %>
<% end %>
