<%= simple_form_for [@organization, @user] do |f| %>
  <% if @user.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :first_name, label: "Prénom", required: true, autofocus: true %>
  <%= f.input :last_name, label: "Nom", required: true, autofocus: true %>
  <%= f.input :email,
              label: "Email",
              required: true,
              autofocus: true ,
              input_html: { autocomplete: "email" }
  %>
  <%= f.submit "Enregistrer", class: "btn-primary-bubo" %>
<% end %>
