<div class="navbar-wagon">
  <!-- Logo -->
  <div>
    <% if current_page?(commitments_path) %>
      <%= link_to "New Commitment", new_commitment_path, class: "btn-primary-bubo-commitment" %>
    <% else %>
      <h3><%= current_user.organization.name %></h3>
    <% end %>
  </div>
  <div>
    <%= link_to "Pre closing", pre_closing_path, class: "btn-primary-bubo-commitment" %>
  </div>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>
      <div class="navbar-wagon-item">
        <%= link_to destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
        <% end %>
      </div>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

