<div class="sidebar-info">
  <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
  <p class="sidebar-info-mail">fred@michel.com</p>
</div>
<div class="sidebar-links">
  <%= link_to root_path do %>
    <li class="nav-item"><i class="fas fa-chart-line"></i>Stats</li>
  <% end %>
  <%= link_to commitments_path do %>
    <li class="nav-item"><i class="fas fa-list"></i>En-cours</li>
  <% end %>
  <%= link_to suppliers_path do %>
    <li class="nav-item"><i class="fas fa-address-book"></i>Fournisseurs</li>
  <% end %>
  <%= link_to pre_closing_path do %>
    <li class="nav-item"><i class="fas fa-calendar-check"></i>Clôture</li>
  <% end %>
  <%= link_to suppliers_path do %>
    <li class="nav-item"><i class="fas fa-users"></i>Equipe</li>
  <% end %>
</div>

