<div class="sidebar-info">
  <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
  <p class="sidebar-info-mail">fred@michel.com</p>
</div>
<div class="sidebar-links">
    <li> <%= link_to '<i class="fas fa-chart-line"></i>Dashboard'.html_safe, root_path %> </li>
    <li> <%= link_to '<i class="fas fa-list"></i>Commitments'.html_safe, commitments_path %> </li>
    <li> <%= link_to '<i class="fas fa-address-book"></i>Suppliers'.html_safe, suppliers_path %> </li>
    <li> <%= link_to '<i class="fas fa-users"></i>Teams'.html_safe, root_path %> </li>
    <li> <%= link_to '<i class="fas fa-users"></i>Settings'.html_safe, root_path %> </li>
</div>
