<div class="container-dashboard">
  <div class="dashboard-header-wrapper">
    <div>
      <h2>Stats</h2>
    </div>
    <div>
      <%= simple_form_for(:filters, url: root_path, method: :get, html: { class: 'form-inline filter-commitment' }) do |f| %>
        <%= f.input :period, collection: commitments_periods_for_select, required: false, label: false, input_html: { class: "select2" }, prompt: "Choisir une période", selected: @period %>
        <%= f.submit "Filtrer", class: "btn-primary-bubo-filter" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <!-- <div class="chart-filters">
    </div> -->
    <div class="col-md-12">
      <div class="cards">
        <div class="card-stat">
          <h3>
            <ul id="analytics-dashboard" style="list-style: none; padding-inline-start: 0px;">
              <% total = [] %>
              <% @unpaid_commitments_amount.each do |item| %>
                  <% total << item.amount %>
              <% end %>
              <li><%= number_with_delimiter(total.sum, delimiters: ".") %>€</li>
              <li><p style="font-size: 15px">Total des en-cours</p></li>
            </ul>
          </h3>
        </div>
        <div class="card-stat">
          <h3>
            <ul id="analytics-dashboard" style="list-style: none; padding-inline-start: 0px;">
              <% total = [] %>
              <% @current_month_commitments.each do |commitment| %>
                  <% total << commitment.amount %>
              <% end %>
              <% if @commitments.present? %>
                <% average = (total.sum / total.length)  %>
              <% end %>
              <li><%= number_with_delimiter(average, delimiters: ".") %>€</li>
              <li><p style="font-size: 15px">Montant moyen d'un en-cours</p></li>
            </ul>
          </h3>
        </div>
        <div class="card-stat">
          <h3>
            <ul id="analytics-dashboard" style="list-style: none; padding-inline-start: 0px;">
              <% total = [] %>
              <% @current_month_commitments.each do |commitment| %>
                  <% total << commitment.amount %>
              <% end %>
              <li><%= number_with_delimiter(total.sum, delimiters: ".") %>€</li>
              <li><p style="font-size: 15px">Montant des en-cours du mois</p></li>
            </ul>
          </h3>
        </div>
      </div>
      <div class="charts-wrapper">
        <div class="bar-chart">
          <canvas id="commitments-statuses" width="450" height="300" data-statuses="<%= @statuses.to_json %>"></canvas>
        </div>
        <div class="pie-chart">
          <canvas id="total-amount" width="450" height="300" data-paid="<%= @paid_commitment_amount.to_json %>" data-invoice="<%= @pending_invoice_amount.to_json %>" data-payment="<%= @pending_payment_amount.to_json %>">
          </canvas>
        </div>
      </div>

    </div>
  </div>
</div>

