<div class="container-commmitments">
  <h1>Dashboard</h1>
  <div class="row">
    <!-- <div class="chart-filters">
    </div> -->
    <div class="col-md-12">
      <h2>Commitments Status</h2>
      <canvas id="commitments-statuses" width="500" height="200" data-statuses="<%= @statuses.to_json %>"></canvas>
      <br>
      <br>
      <div class="cards">
        <div class="card-stat">
          <h3>
            <ul id="analytics-dashboard" style="list-style: none; padding-inline-start: 0px;">
              <% total = [] %>
              <% @unpaid_commitments_amount.each do |item| %>
                  <% total << item.amount %>
              <% end %>
              <li><%= number_with_delimiter(total.sum, delimiters: ".") %>€</li>
              <li><p style="font-size: 15px">Oustanding Commitments</p></li>
            </ul>
          </h3>
        </div>
        <div class="card-stat">
          <h3>
            <ul id="analytics-dashboard" style="list-style: none; padding-inline-start: 0px;">
              <% total = [] %>
              <% @current_month_commitments.each do |commitment| %>
                  <% total << commitment.amount %>
              <% end %>
              <% average = (total.sum / total.length)  %>
              <li><%= number_with_delimiter(average, delimiters: ".") %>€</li>
              <li><p style="font-size: 15px">Average Commitment Amount</p></li>
              <li><p style="font-size: 10px">(Current Month)</p></li>
            </ul>
          </h3>
        </div>
        <div class="card-stat">
          <h3>
            <ul id="analytics-dashboard" style="list-style: none; padding-inline-start: 0px;">
              <% @current_month_commitments.each do |commitment| %>
                  <% total << commitment.amount %>
              <% end %>
              <li><%= number_with_delimiter(total.sum, delimiters: ".") %>€</li>
              <li><p style="font-size: 15px">Current Month Total Commitments</p></li>
            </ul>
          </h3>
        </div>
      </div>
      <br>
      <br>
      <canvas id="total-amount" width="500" height="200" data-paid="<%= @paid_commitment_amount.to_json %>" data-invoice="<%= @pending_invoice_amount.to_json %>" data-payment="<%= @pending_payment_amount.to_json %>"></canvas>
    </div>
  </div>
</div>

