<%= simple_form_for(@commitment) do |f| %>
  <% if @commitment.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @commitment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :title %>
  <%= f.input :amount %>
  <%= f.input :payment_method, collection: Commitment.payment_methods.keys, default: "Credit card"  %>
  <%= f.input :retrieval_mode, collection: Commitment.retrieval_modes.keys, default: "Email" %>
  <%= f.input :description %>
  <%= f.input :due_date %>
  <%= f.input :payment_date %>
  <%= f.input :status, collection: Commitment.statuses.keys, default: "Pending invoice" %>
  <%= f.input :recurrence, collection: Commitment.recurrences.keys, default: "One off" %>
  <%= f.association :supplier, collection: current_user.organization.suppliers, label: "Supplier", selected: @commitment.supplier_id %>
  <%= f.input :invoice %>
  <%= f.input :invoice_cache, as: :hidden %>
  <%= f.submit "Add this commitment", class: "btn btn-primary" %>
<% end %>
