<div class="container-super-closing">
  <div class="container-pre-closing">
    <% date = Date.today - 1.month %>
    <h3>Clôture : <%= date.strftime("%b %Y") %></h3>
    <%= link_to "Exporter factures", @url, class: "btn-primary-bubo-commitment" %>
  </div>
  <div class="container-table-wrap">
    <div class="container-table">
      <ul class="table-closing-processed table-closing-1">
        <h4><%= pluralize(@processed.length, 'en-cours traité') %></h4>
        <li class="table-closing-header">
            <p>Fournisseur</p>
            <p>Montant</p>
            <p>Récurrence</p>
            <p>Echéance</p>
        </li>
        <% @processed.each do |commitment_paid| %>
        <li class="grey-cards">
          <p><%= commitment_paid.supplier.name %></p>
          <p><%= number_with_delimiter(commitment_paid.amount, :delimiter => ",") %> €</p>
          <p><%= commitment_paid.recurrence %></p>
          <p><%= commitment_paid.due_date.strftime("%b %y") %></p>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="container-table">
      <ul class="table-closing table-closing-1">
        <h4><%= pluralize(@postponed.length, 'en-cours reporté')  %></h4>
        <li class="table-closing-header">
          <p>Fournisseur</p>
          <p>Montant</p>
          <p>Récurrence</p>
          <p>Echèance</p>
        </li>
        <% @postponed.each do |commitment_postpone| %>
        <li class="grey-cards">
          <p><%= commitment_postpone.supplier.name %></p>
          <p><%= number_with_delimiter(commitment_postpone.amount, :delimiter => ",") %> €</p>
          <p><%= commitment_postpone.recurrence %></p>
          <p> <%= commitment_postpone.due_date.strftime("%b %y") %> </p>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
