<div class="col-md-12">
  <div class="container-create">
    <%= simple_form_for(@commitment) do |f| %>
      <% if @commitment.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @commitment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="container-create-commitment">
        <div class="commitment-create-title">
          <h3>Editer un en-cours</h3>
        </div>
        <div class="first-line">
          <div class="show-details">
            <%= f.association :supplier, collection: current_user.organization.suppliers.order('created_at DESC'), label: "Fournisseur", selected: @commitment.supplier_id, input_html: { class: "select2" } %>
          </div>
          <div class="show-details">
            <%= f.input :title, label: "Nom", input_html: { class: "form-control-create" }  %>
          </div>
          <div class="show-details">
            <%= f.input :amount, label: "Montant", input_html: { class: "form-control-create" }  %>
          </div>
        </div>
          <div class="first-line">
            <div class="show-details">
              <%= f.input :payment_method, label: "Mode de paiement", collection: Commitment.payment_methods.keys, default: "Carte bancaire", input_html: { class: "form-control-create" }   %>
            </div>
            <div class="show-details">
              <%= f.input :retrieval_mode,  label: "Réception facture",collection: Commitment.retrieval_modes.keys, default: "Email", input_html: { class: "form-control-create" }  %>
            </div>
            <div class="show-details">
              <%= f.input :description, input_html: { class: "form-control-create" }  %>
            </div>
          </div>
          <div class="first-line">
            <div class="show-details">
              <%= f.input :recurrence,  label: "Récurrence",collection: Commitment.recurrences.keys, default: "Ponctuel", input_html: { class: "form-control-create" }  %>
            </div>
            <div class="show-details">
              <%= f.input :due_date,  label: "Date échéance",as: :string, required: false, input_html: {class: "datepicker form-control-create"} %>
            </div>
            <div class="show-details">
              <%= f.input :payment_date,  label: "Date paiement",as: :string, required: false, input_html: {class: "datepicker form-control-create"} %>
            </div>
          </div>
        <div class="first-line">
          <div class="show-details">
            <%= f.input :status,  label: "Statut",collection: Commitment.statuses.keys, default: "Facture en attente", input_html: { class: "form-control-create" }  %>
          </div>
          <div class="show-details">
            <%= f.input :invoice, label: "Facture", input_html: { class: "form-control-create" }  %>
            <%= f.input :invoice_cache, as: :hidden %>
          </div>
          <div class="show-details">
            <%= f.submit "Enregistrer", class: "btn btn-primary-bubo" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



