<div class="container-commmitments" style="background: none; box-shadow: none; border: none;">
  <%= render "filters", locals: {user: @user} %>
  <table class="table table-hover" id="table-commitment">
    <thead>
      <tr>
        <th scope="col">Resp</th>
        <th scope="col">Fournisseur</th>
        <th scope="col">Montant</th>
        <th scope="col">Récurrence</th>
        <th scope="col">Echéance</th>
        <th scope="col">Statut</th>
        <th scope="col">Payé</th>
        <th scope="col">Facture</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @commitments.each do |commitment| %>
        <tr onclick="location.href='<%= commitment_path(commitment) %>'">
          <td><%= image_tag "#{commitment.user.photo}", style:'height:25px;width:25px;border-radius:50%;' %></td>
          <td><%= commitment.supplier.name %></td>
          <td><%= number_with_delimiter(commitment.amount, :delimiter => ',') %> €</td>
          <td><%= commitment.recurrence %></td>
          <td><%= commitment.due_date.strftime('%b %Y') %></td>
          <% if commitment.status == "Payé" %>
            <td><span class="label-paid"><%= commitment.status %></span></td>
          <% elsif commitment.status == "Paiement en attente" %>
            <td><span class="label-pending-payment"><%= commitment.status %></span></td>
          <% elsif commitment.status == "Facture en attente" %>
            <td><span class="label-pending-invoice"><%= commitment.status %></span></td>
          <% end %>
          <td><%= link_commit(commitment) %></td>
          <td>
            <% if commitment.invoice.file.present? %>
              <%= link_to(cl_private_download_url(commitment.invoice_ref, :jpg, :attachment => true)) do %>
                <i class="fas fa-cloud-download-alt"></i>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to commitment_path(commitment), method: :delete, data: { confirm: "Etes-vous sûr ?" } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% unless @cloud_ids.sum.to_i <= 1 %>
    <%= link_to "Téléchager toutes les factures", @url, style: "font-size: 14px" %>
  <% end %>
</div>


