<div class="container">
  <div class="row" style="text-decoration:none;">
    <% @commitments.each do |commitment| %>
    <%= link_to commitment_path(commitment) do %>
      <div class="card-commitment">
        <div class="message-index-display">
          <div class="message-body">
            <p><strong>Supplier</strong></p>
            <p><%= commitment.supplier.name %></p>
          </div>
          <div class="message-body">
            <p><strong>Amount</strong></p>
            <p class="status pending"><%= commitment.amount %></p>
          </div>
          <div class="message-body">
            <p><strong>Recurrence</strong></p>
            <p><%= commitment.recurrence %></p>
          </div>
          <div class="message-body">
            <p><strong>Status</strong></p>
            <p class="status pending"><%= commitment.status %></p>
          </div>
          <div class="message-body">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-alt"></i>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>

