<div class="container-commmitments">
  <%= render "filters", locals: {user: @user} %>
  <table class="table table-hover" id="table-commitment">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Fournisseur</th>
        <th scope="col">Montant</th>
        <th scope="col">Récurrence</th>
        <th scope="col">Statut</th>
        <th scope="col">Facture</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @commitments.each do |commitment| %>
        <tr>
          <td><%= image_tag "#{commitment.user.photo}", style:'height:20px;width:20px;border-radius:50%;' %></td>
          <td><%= commitment.supplier.name %></td>
          <td><%= number_with_delimiter(commitment.amount, :delimiter => ',') %> €</td>
          <td><%= commitment.recurrence %></td>
          <td><%= commitment.status %></td>
          <td>
            <% if commitment.invoice.file.nil? %>
              <%= link_to edit_commitment_path(commitment) do %>
                <i class="fas fa-cloud-upload-alt"></i>
              <% end %>
            <% else %>
              <%#= link_to "Download it", commitment.invoice.url %>
              <%#= link_to download_file_path(commitment) do %>
              <%= link_to(cl_private_download_url(commitment.invoice_ref, :jpg, :attachment => true)) do %>
                <i class="fas fa-paperclip"></i>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to edit_commitment_path(commitment) do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </td>
          <td>
            <%= link_to commitment_path(commitment), method: :delete, data: { confirm: "Etes-vous sûr ?" } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
          <td>
            <%= link_to commitment_path(commitment) do %>
              <i class="fas fa-eye"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Download all invoices", @url %>
</div>


