<div class="container-suppliers">
  <table class="table table-hover" id="table-supplier">
    <thead>
      <tr>
        <th scope="col">Fournisseur</th>
        <th scope="col">Montant en-cours</th>
        <th scope="col"># en-cours</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @suppliers.each do |supplier| %>
        <tr onclick="location.href='<%= supplier_path(supplier) %>'">
          <td><%= supplier.name %></td>
          <td><%= number_with_delimiter(supplier.total_payable, :delimiter => ',') %> €</td>
          <td><%= supplier.commitments.count %></td>
          <td><%= link_to edit_supplier_path(supplier) do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


