<div class="container-commmitments">
  <table class="table table-hover" id="table-commitment">
    <thead>
      <tr>
        <th scope="col">Owner</th>
        <th scope="col">Supplier</th>
        <th scope="col">Total Amount</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @suppliers.each do |supplier| %>
        <tr>
          <td><img src="http://kitt.lewagon.com/placeholder/users/ssaunier" alt="" class="avatar"></td>
            <div class="card-description">
              <td><%= link_to supplier.name, supplier_path(supplier) %></td>
              <td><%= supplier.total_payable %></td>
              <td><%= supplier.name %></td>
              <td><%= supplier.name %></td>
              <td><%= link_to edit_supplier_path(supplier) do %>
                  <i class="fas fa-edit"></i>
                <% end %>
              </td>
            </div>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


