<div class="container-commmitments">
  <h3><%= @supplier.name %></h3>
  <table class="table table-hover" id="table-commitment">
    <thead>
      <tr>
        <th scope="col">Utilisateur</th>
        <th scope="col">Nom</th>
        <th scope="col">Montant Total</th>
        <th scope="col">Statut</th>
        <th scope="col">Echèance</th>
      </tr>
    </thead>
    <tbody>
      <% @commitments_by_supplier.each do |commitment| %>
        <tr onclick="location.href='<%= commitment_path(commitment) %>'">
          <td><img src="http://kitt.lewagon.com/placeholder/users/ssaunier" alt="" class="avatar"></td>
            <div class="card-description">
              <td><%= commitment.title %></td>
              <td><%= number_with_delimiter(commitment.amount, :delimiter => ',') %> €</td>
              <td><%= commitment.status %></td>
              <td><%= commitment.due_date %></td>
              <td><%= link_to edit_commitment_path(commitment) do %>
                  <i class="fas fa-edit"></i>
                  <% end %>
              </td>
            </div>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container-commmitments">
  <table class="table table-hover" id="table-commitment">
    <thead>
      <tr>
        <th scope="col">Montant Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <div class="card-description">
          <td><%= number_with_delimiter(@total_payable, :delimiter => ',') %> €</td>
        </div>
      </tr>
    </tbody>
  </table>

</div>

