<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bubo: suivi des achats simplifié pour les TPE et PME</title>
    <meta name="description" content="Gagnez du temps et de la visibilité sur vos encours et factures fournisseurs grâce à Bubo, un outil simple de suivi adapté aux TPE-PME">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
  </head>

  <body>
    <% if current_page?(root_path) %>
      <div class="banner">
        <div class="banner-logo">
          <%= image_tag "logo.png", style: "width: 30px; height: 30px;" %>
          <p>Bubo</p>
        </div>
        <div class="banner-connect">
          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
            <% end %>
          <% else %>
            <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
          <% end %>
        </div>
        <div class="banner-content">
          <h1>Bubo</h1>
          <p>Suivi des achats simplifié pour les TPE et PME</p>
          <%= link_to "Voir mon dashboard", dashboard_path, class: "btn-primary-bubo-home" %>
        </div>
        <div class="banner-image">
          <%= image_tag "wallet.svg", style: "width: 500px; height: 500px;" %>
        </div>
      </div>
    <% else %>
      <div class="wrapper">
        <div class="sidebar">
          <%= render 'shared/sidebar' %>
        </div>
        <div class="content">
          <%= render 'shared/navbar' %>
          <%= render 'shared/flashes' %>
          <%= yield %>
        </div>
      </div>
    <% end %>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
